@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");

.resizable {
    position: relative;
  }
  
  .resizable::after {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
    background-color: #ddd;
    z-index: 9999;
    display: block; /* Add this line */
  }